In [8]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
from datetime import datetime

In [9]:
def extract_web1(link):
    respons=requests.get(url)
    soup=bs(respons.text,"html.parser")
    web={"job_title":[],"url1":[],"company":[],"location":[],"salary":[],"summary":[],"date":[],"today":[]}
    for link in soup.findAll("div","jobsearch-SerpJobCard"):
        try:
            web["job_title"].append(link.a.text.strip())
        except:
            web["job_title"].append("missing")
        try:
            web["url1"].append("http://indeed.com "+link.a["href"])
        except:
            web["url1"].append("missing")
        try:
            web["company"].append(link.find("span","company").text.strip())
        except:
            web["company"].append("missing")
        try:
            web["location"].append(link.find("div","recJobLoc").get("data-rc-loc"))
        except:
            web["location"].append("missing")
        try:
            web["salary"].append(link.find("span","salaryText").text.strip())
        except:
            web["salary"].append("missing")
        try:
            web["summary"].append(link.find("div","summary").text.strip().replace("\n"," "))
        except:
            web["summary"].append("missing")
        try:
            web["date"].append(link.find("span","date").text)
        except:
            web["date"].append("missing")
        web["today"].append(datetime.today().strftime("%d-%m-%y"))
    blog_list1 = pd.DataFrame(web)
    return blog_list1

In [10]:
def get_url(position, location):
    template="https://www.indeed.co.in/jobs?q={}&l={}"
    url= template.format(position, location)
    return url

In [20]:
url

'https://www.indeed.co.in/jobs?q=Accounting&l=hyderabad'

In [ ]:
https://www.indeed.co.in/jobs?q=Data+scientist&l=Hyderabad%2C+Telangana

In [21]:
url=get_url("Data science","hyderabad")

In [22]:
links=[]
for i in range(10,100,10):
  links.append(url+"&start="+str(i))

In [23]:
links

['https://www.indeed.co.in/jobs?q=Data science&l=hyderabad&start=10',
 'https://www.indeed.co.in/jobs?q=Data science&l=hyderabad&start=20',
 'https://www.indeed.co.in/jobs?q=Data science&l=hyderabad&start=30',
 'https://www.indeed.co.in/jobs?q=Data science&l=hyderabad&start=40',
 'https://www.indeed.co.in/jobs?q=Data science&l=hyderabad&start=50',
 'https://www.indeed.co.in/jobs?q=Data science&l=hyderabad&start=60',
 'https://www.indeed.co.in/jobs?q=Data science&l=hyderabad&start=70',
 'https://www.indeed.co.in/jobs?q=Data science&l=hyderabad&start=80',
 'https://www.indeed.co.in/jobs?q=Data science&l=hyderabad&start=90']

In [24]:

a=[]
for i in links:
    a.append(extract_web1(i))
bigdata1=pd.concat(a,ignore_index=True)

In [25]:
bigdata1

,job_title,url1,company,location,salary,summary,date,today
0,AI / Data Science Engineer - Intern,http://indeed.com /rc/clk?jk=27a246a2affb843b&...,Medtronic,"Hyderabad, Telangana",missing,Acquire data from primary or secondary data so...,Just posted,05-10-20
1,Assistant Manager - Data Science,http://indeed.com /rc/clk?jk=311534e21d7ade3e&...,Vreedhi Financial Services,"Hyderabad, Telangana",missing,"O Explore data for insights, use statistical a...",4 days ago,05-10-20
2,Manager Data Science,http://indeed.com /rc/clk?jk=86cf2bc32e3c9a2e&...,Reliance Jio Infocomm Limited,"Hyderabad, Telangana",missing,"Specify, design, and implement new data scienc...",Today,05-10-20
3,Data science trainer,http://indeed.com /company/Innomatics-Research...,Innomatics Research Labs,"Hyderabad, Telangana","₹10,00,000 - ₹20,00,000 a year",We are looking for passionate data science tra...,18 days ago,05-10-20
4,Data science trainer,http://indeed.com /company/360digrii/jobs/Data...,360digrii,"Hyderabad, Telangana","₹1,00,000 - ₹3,00,000 a month",Looking out for experienced trainers for Data ...,13 days ago,05-10-20
...,...,...,...,...,...,...,...,...
131,Staff Machine Learning Engineer,http://indeed.com /rc/clk?jk=0747123c6dbf3b0d&...,ServiceNow,"Hyderabad, Telangana",missing,You will play a major part in building a pione...,4 days ago,05-10-20
132,Clinical Data Analyst I,http://indeed.com /rc/clk?jk=5d0b0c790a6ded19&...,Parexel,"Hyderabad, Telangana",missing,Responsible for data cleaning and data review ...,12 days ago,05-10-20
133,Data Scientist,http://indeed.com /rc/clk?jk=b89750f046ce4dbd&...,Innovius Overseas Consultants Private Limited,"Hyderabad, Telangana","₹3,10,000 - ₹4,50,000 a year","Networks, Human -Computer interaction, data sc...",1 day ago,05-10-20
134,DATA SCIENCE MANAGER,http://indeed.com /rc/clk?jk=a39882eb07708ec8&...,Joveo,"Hyderabad, Telangana",missing,Visualise data finding with tools like matplot...,30+ days ago,05-10-20
135,"Technology head Data science, data analytics b...",http://indeed.com /rc/clk?jk=d4f4893655abb2a8&...,Truedge Software Solutions,"Hyderabad, Telangana",missing,"Data science, data analytics background prefer...",30+ days ago,05-10-20

In [26]:
bigdata1.to_csv("indeed_data.csv")